/* Estilos gerais */
.banner-container {
  margin-top: 0;
  padding: 11.25rem 0 6.25rem 0;
  background-image: url('../Assets/img/Banner-6.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.two-column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
}

.left-column h1, h2{
  margin-top: 0px;
  margin-bottom: 0px;
  color: aliceblue;
  font-size: 1.5vw;
  box-sizing: content-box;
}


.Intro-About {
  font-size: 2.5vw;
}

.my-name {
  color: #621ea4;
  font-size: 2.8vw;
  font-weight: bold;

}

.text-animator {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 2vw;
  color: #08abac;
}

.cursor {
  display: inline-block;
  width: 0.1em; 
  height: 0.8em; 
  background-color: #621ea4;
  animation: blink 0.7s infinite;
  
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.about {
  margin-top: 0px;
  margin-bottom: 0px;
  color: aliceblue;
  font-size: 1.2vw;
  box-sizing: content-box;
}

.left-column, .right-column {
  flex: 1;
  padding: 2vw;
  caret-color: transparent;
   
}

.left-column {
  background: linear-gradient(90.21deg, rgba(54, 12, 45, 0.582) -5.91%, rgba(28, 44, 49, 0.644) 111.58%);
  border: 1px solid rgba(31, 187, 174, 0.411);
  border-radius: 15px;
  animation: fadeIn 1s forwards;
  display: block;
  backdrop-filter: blur(3px);
}

.fade-in-image {
  opacity: 0;
  animation: fadeIn 5s forwards;
  max-width: 72%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  
}
.right-column img{
  margin: 0 auto;
  display:block ;
}

.txt-rotate {
  display: inline-block;
}

.txt-rotate > .wrap {
  border-right: 2px solid aliceblue;
  animation: blink 0.7s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

  /* Estilos para telas menores */

@media (max-width: 800px) {
  .fade-in-image {
    max-width: 80%;
  }
  
  .two-column-container {
    flex-direction: column;
    padding-left: 0; 
  }

  .left-column, .right-column {
    flex: none;
    width: 80%;
    margin-top: 10.5vw;
  }

  .right-column {
    order: -1; 
  }

  .two-column-container h1, h2, p, .intro-about, .my-name, .text-animator,.cursor, .about {
    font-size: 3.5vw;
  }
}

@media (max-width: 480px) {
  .two-column-container h1, h2, p, .Intro-About, .my-name, .cursor, .About {
    font-size: 4.5vw;
  }
  .text-animator{
    font-size: 5vw;
  }
  .right-column img{
    margin: 0 auto;
    display:block ;
  }

  .left-column, .right-column {
    flex: none;
    width: 90%;
    margin-top: 20px;
  }
}
