body {
  background-image: url('../Assets/img/background-certificates-2.avif');
}

.background-carousel {
  user-select: none;
}

.container-carousel {
  background-color: #0a0e13;
  border-radius: 50px;
  width: 65%;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  z-index: 1;
  caret-color: transparent;
  margin-top: -3.75rem;
}

.title-certificates {
  text-align: center;
  color: #08abac;
  font-size: 42px;
  line-height: 6.5rem;
}

.img-swiper {
  width: 100%;
  height: 100%;
  background-color: #0a0e13;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
}

.img-swiper img {
  width: 75%;
  border-radius: 55px;
}

.my-swiper-container .swiper-button-next,
.my-swiper-container .swiper-button-prev {
  font-size: 38px;
  color: aquamarine;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 22px;
  }
}

@media (max-width: 720px) {
  .img-swiper img{
    border-radius: 25px;
    width: 95%;
  }
  .container-carousel {
    width: 80%;
    border-radius: 25px;
  }

  .title-certificates{
    font-size: 30px;
    line-height: 4.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px;
    line-height: 3.5rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 480px) {
  .img-swiper img{
    border-radius: 15px;
    width: 95%;
  }
  .container-carousel {
    width: 95%;
    border-radius: 15px;
  }

  h2 {
    font-size: 18px;
  }
  .title-certificates{
    font-size: 20px;
    line-height: 3.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 18px;
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
