/* Skills.css */

.section-grid-container {
 
  justify-content: center;
  background-color: #010a14;
  border-radius: 15px;
  padding: 16px;
  margin-top: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.title-skills {
  text-align: center;
  color: #08abac;
  font-size: 42px;
  line-height: 6.5rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  margin-bottom: 2rem;
}

.skill-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.skill-image-container img {
  width: 60%; /* As imagens se ajustarão ao tamanho do contêiner */
  height: auto;
  transition: transform 0.3s ease;
}

.skill-image-container img:hover {
  transform: scale(1.1); /* Animação de hover */
}
@media (max-width: 720px) {
  .title-skills{
    font-size: 30px;
    line-height: 4.5rem;
  }
}

@media (max-width: 480px) {
  .title-skills{
    font-size: 20px;
    line-height: 3.5rem;
  }
  .section-grid-container{
    margin-top: 7rem;
  }
}